trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: DeployVisualStudioTestAgent@1
  inputs:
    testMachineGroup: |
      mkdir azagent
      cd azagent
      curl -fkSL -o vstsagent.tar.gz https://download.agent.dev.azure.com/agent/4.261.0/vsts-agent-linux-x64-4.261.0.tar.gz
      tar -zxvf vstsagent.tar.gz
      if [ -x "$(command -v systemctl)" ]; then
        ./config.sh --environment --environmentname "maquina1" --acceptteeeula --agent $HOSTNAME --url https://dev.azure.com/sebastianuribe11191630611/ --work _work --projectname 'INTERESTELAR' --auth PAT --token $(myToken)
        sudo ./svc.sh install
        sudo ./svc.sh start
      else
        ./config.sh --environment --environmentname "maquina1" --acceptteeeula --agent $HOSTNAME --url https://dev.azure.com/sebastianuribe11191630611/ --work _work --projectname 'INTERESTELAR' --auth PAT --token $(myToken)
        ./run.sh
      fi
    machineUserName: 'sebatianuribe111'
    machinePassword: '$(myPassword)'

- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
